IDD_FIND_STRING_DLG DIALOGEX 0, 0, 179, 150
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "찾기"
FONT 8, "돋움", 0, 0, 0x0
BEGIN
    PUSHBUTTON      "검색 시작",IDOK,90,126,54,18
    PUSHBUTTON      "강조 해제",IDB_FIND_CLEAR,6,132,54,12
    EDITTEXT        IDE_FIND_TEXT,12,18,156,12,ES_AUTOHSCROLL
    GROUPBOX        "찾을 내용",IDC_STATIC,6,6,168,30
    GROUPBOX        "검색 범위",IDC_STATIC,6,42,168,30
    COMBOBOX        IDCB_FIND_TARGET,12,54,156,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "선택 사항",IDC_STATIC,6,78,168,42
    CONTROL         "\\n = 줄바꿈、\\\\ = \\ 로 해서 검색",IDCB_MOD_CRLF_YEN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,90,156,8
END
