IDD_FRAME_EDIT_DLG_2 DIALOGEX 0, 0, 226, 294
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "말풍선 편집"
FONT 8, "돋움", 0, 0, 0x0
BEGIN
    PUSHBUTTON      "새 말풍선",IDB_ADD_FRAME,6,150,60,12
    DEFPUSHBUTTON   "OK",IDB_OK,84,150,42,12
    PUSHBUTTON      "취소",IDB_CANCEL,132,150,42,12
    PUSHBUTTON      "적용",IDB_APPLY,180,150,42,12
    COMBOBOX        IDCB_BOX_NAME_SEL,6,6,87,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDE_BOXP_NAME_EDIT,98,6,80,12,ES_AUTOHSCROLL
    PUSHBUTTON      "이름 바꾸기",IDB_BOXP_NAME_APPLY,183,6,39,12
    EDITTEXT        IDE_BOXP_MORNING,6,24,60,36,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
    EDITTEXT        IDE_BOXP_NOON,84,24,60,36,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
    EDITTEXT        IDE_BOXP_AFTERNOON,162,24,60,36,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
    EDITTEXT        IDE_BOXP_DAYBREAK,6,66,60,36,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
    EDITTEXT        IDE_BOXP_NIGHTFALL,162,66,60,36,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
    EDITTEXT        IDE_BOXP_DAWN,6,108,60,36,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
    EDITTEXT        IDE_BOXP_MIDNIGHT,84,108,60,36,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
    EDITTEXT        IDE_BOXP_TWILIGHT,162,108,60,36,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
    LTEXT           "좌측 여백",IDC_STATIC,72,66,36,8
    EDITTEXT        IDE_LEFT_OFFSET,72,78,24,12,ES_AUTOHSCROLL
    CONTROL         "",IDSP_LEFT_OFFSET,"msctls_updown32",UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HORZ | UDS_HOTTRACK,96,78,12,12
    RTEXT           "우측 여백",IDC_STATIC,120,66,36,8
    EDITTEXT        IDE_RIGHT_OFFSET,120,78,24,12,ES_AUTOHSCROLL
    CONTROL         "",IDSP_RIGHT_OFFSET,"msctls_updown32",UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HORZ | UDS_HOTTRACK,144,78,12,12
    CONTROL         "박스 크기에 말풍선 맞추기",IDB_FRM_PADDING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,72,96,84,8
    CONTROL         "",IDS_FRAME_IMAGE,"Static",SS_OWNERDRAW | SS_NOPREFIX | SS_NOTIFY | WS_BORDER | WS_GROUP,6,168,216,120
END
