// 애플리케이션 아이콘
IDI_SUNDAY              ICON                    "icon/Sunday.ico"
IDI_SMALL               ICON                    "icon/Sunday.ico"

// 파일/트리 아이콘
IDI_TREE_DIR_CLOSE      ICON                    "icon/directory.ico"
IDI_TREE_DIR_OPEN       ICON                    "icon/dir_open.ico"
IDI_TREE_DIR_EXTRA      ICON                    "icon/dir_extra.ico"
IDI_TREE_FILE_AST       ICON                    "icon/file_ast.ico"
IDI_TREE_FILE_MLT       ICON                    "icon/file_mlt.ico"
IDI_TREE_FILE_ETC       ICON                    "icon/file_etc.ico"

// 메인/편집/표시 툴바 비트맵
IDBMP_ALLSELECT         BITMAP                  "icon/AllSelect.bmp"
IDBMQ_ALLSELECT         BITMAP                  "icon/AllSelect_q.bmp"
IDBMP_BOXSELECT         BITMAP                  "icon/BoxSelect.bmp"
IDBMQ_BOXSELECT         BITMAP                  "icon/BoxSelect_q.bmp"
IDBMP_COLOURTAG         BITMAP                  "icon/ColourTag.bmp"
IDBMQ_COLOURTAG         BITMAP                  "icon/ColourTag_q.bmp"
IDBMP_COPY              BITMAP                  "icon/Copy.bmp"
IDBMQ_COPY              BITMAP                  "icon/Copy_q.bmp"
IDBMP_CUT               BITMAP                  "icon/Cut.bmp"
IDBMQ_CUT               BITMAP                  "icon/Cut_q.bmp"
IDBMP_DELETE            BITMAP                  "icon/Delete.bmp"
IDBMQ_DELETE            BITMAP                  "icon/Delete_q.bmp"
IDBMP_DECREMENT_DOT     BITMAP                  "icon/DecrementDot.bmp"
IDBMQ_DECREMENT_DOT     BITMAP                  "icon/DecrementDot_q.bmp"
IDBMP_EXTRACT           BITMAP                  "icon/Extract.bmp"
IDBMQ_EXTRACT           BITMAP                  "icon/Extract_q.bmp"
IDBMP_EXTRACTLAYER      BITMAP                  "icon/ExtractLayer.bmp"
IDBMQ_EXTRACTLAYER      BITMAP                  "icon/ExtractLayer_q.bmp"
IDBMP_FILE_NEW          BITMAP                  "icon/FileCreate.bmp"
IDBMQ_FILE_NEW          BITMAP                  "icon/FileCreate_q.bmp"
IDBMP_FILE_OPEN         BITMAP                  "icon/FileOpen.bmp"
IDBMQ_FILE_OPEN         BITMAP                  "icon/FileOpen_q.bmp"
IDBMP_FILE_SAVE         BITMAP                  "icon/FileSave.bmp"
IDBMQ_FILE_SAVE         BITMAP                  "icon/FileSave_q.bmp"
IDBMP_HEADSPACEADD      BITMAP                  "icon/HeadSpaceAdd.bmp"
IDBMQ_HEADSPACEADD      BITMAP                  "icon/HeadSpaceAdd_q.bmp"
IDBMP_HEADSPACEDEL      BITMAP                  "icon/HeadSpaceDel.bmp"
IDBMQ_HEADSPACEDEL      BITMAP                  "icon/HeadSpaceDel_q.bmp"
IDBMP_INCREMENT_DOT     BITMAP                  "icon/IncrementDot.bmp"
IDBMQ_INCREMENT_DOT     BITMAP                  "icon/IncrementDot_q.bmp"
IDBMP_LAYERBOX          BITMAP                  "icon/LayerBox.bmp"
IDBMQ_LAYERBOX          BITMAP                  "icon/LayerBox_q.bmp"
IDBMP_LINESSHIFTLEFT    BITMAP                  "icon/LinesShiftLeft.bmp"
IDBMQ_LINESSHIFTLEFT    BITMAP                  "icon/LinesShiftLeft_q.bmp"
IDBMP_LINESSHIFTRIGHT   BITMAP                  "icon/LinesShiftRight.bmp"
IDBMQ_LINESSHIFTRIGHT   BITMAP                  "icon/LinesShiftRight_q.bmp"
IDBMP_PASTE             BITMAP                  "icon/Paste.bmp"
IDBMQ_PASTE             BITMAP                  "icon/Paste_q.bmp"
IDBMP_PAGESJISCOPY      BITMAP                  "icon/PageSjisCopy.bmp"
IDBMQ_PAGESJISCOPY      BITMAP                  "icon/PageSjisCopy_q.bmp"
IDBMP_PREVIEW           BITMAP                  "icon/Preview.bmp"
IDBMQ_PREVIEW           BITMAP                  "icon/Preview_q.bmp"
IDBMP_REDO              BITMAP                  "icon/Redo.bmp"
IDBMQ_REDO              BITMAP                  "icon/Redo_q.bmp"
IDBMP_REFRESH           BITMAP                  "icon/Refresh.bmp"
IDBMQ_REFRESH           BITMAP                  "icon/Refresh_q.bmp"
IDBMP_RIGHTGUIDE        BITMAP                  "icon/RightGuide.bmp"
IDBMQ_RIGHTGUIDE        BITMAP                  "icon/RightGuide_q.bmp"
IDBMP_RIGHTSLIDE        BITMAP                  "icon/RightShift.bmp"
IDBMQ_RIGHTSLIDE        BITMAP                  "icon/RightShift_q.bmp"
IDBMP_SETTING           BITMAP                  "icon/Setting.bmp"
IDBMQ_SETTING           BITMAP                  "icon/Setting_q.bmp"
IDBMP_SPLIT_LEFT        BITMAP                  "icon/DotSplitLeft.bmp"
IDBMQ_SPLIT_LEFT        BITMAP                  "icon/DotSplitLeft_q.bmp"
IDBMP_SPLIT_RIGHT       BITMAP                  "icon/DotSplitRight.bmp"
IDBMQ_SPLIT_RIGHT       BITMAP                  "icon/DotSplitRight_q.bmp"
IDBMP_TAILLETTERDEL     BITMAP                  "icon/TailLetterDel.bmp"
IDBMQ_TAILLETTERDEL     BITMAP                  "icon/TailLetterDel_q.bmp"
IDBMP_TAILSPACEDEL      BITMAP                  "icon/TailSpaceDel.bmp"
IDBMQ_TAILSPACEDEL      BITMAP                  "icon/TailSpaceDel_q.bmp"
IDBMP_TRACEMODE         BITMAP                  "icon/TraceMode.bmp"
IDBMQ_TRACEMODE         BITMAP                  "icon/TraceMode_q.bmp"
IDBMP_UNDO              BITMAP                  "icon/Undo.bmp"
IDBMQ_UNDO              BITMAP                  "icon/Undo_q.bmp"
IDBMP_UNICODE_MODE      BITMAP                  "icon/Unicode_Use.bmp"
IDBMQ_UNICODE_MODE      BITMAP                  "icon/Unicode_Use_q.bmp"
IDBMP_UNISPACE          BITMAP                  "icon/UniSpace.bmp"
IDBMQ_UNISPACE          BITMAP                  "icon/UniSpace_q.bmp"
IDBMP_USERDEF           BITMAP                  "icon/UserDef.bmp"
IDBMQ_USERDEF           BITMAP                  "icon/UserDef_q.bmp"
IDBMP_MIRROR_INVERSE    BITMAP                  "icon/arrow_leftright.bmp"
IDBMQ_MIRROR_INVERSE    BITMAP                  "icon/arrow_leftright_q.bmp"
IDBMP_UPSET_INVERSE     BITMAP                  "icon/arrow_updown.bmp"
IDBMQ_UPSET_INVERSE     BITMAP                  "icon/arrow_updown_q.bmp"

// 페이지/레이어/프레임/팔레트 관련 비트맵
IDBMP_PAGECREATE        BITMAP                  "icon/PageCreate.bmp"
IDBMQ_PAGECREATE        BITMAP                  "icon/PageCreate_q.bmp"
IDBMP_PAGEDELETE        BITMAP                  "icon/PageDelete.bmp"
IDBMQ_PAGEDELETE        BITMAP                  "icon/PageDelete_q.bmp"
IDBMP_PAGEDUPLICATE     BITMAP                  "icon/PageDuplicate.bmp"
IDBMQ_PAGEDUPLICATE     BITMAP                  "icon/PageDuplicate_q.bmp"
IDBMP_PAGEINSERT        BITMAP                  "icon/PageInsert.bmp"
IDBMQ_PAGEINSERT        BITMAP                  "icon/PageInsert_q.bmp"
IDBMP_PAGENAMECHANGE    BITMAP                  "icon/PageNameChange.bmp"
IDBMQ_PAGENAMECHANGE    BITMAP                  "icon/PageNameChange_q.bmp"
IDBMP_PAGEUNDERSHIFT    BITMAP                  "icon/PageUnderShift.bmp"
IDBMQ_PAGEUNDERSHIFT    BITMAP                  "icon/PageUnderShift_q.bmp"
IDBMP_PAGEUPPERSHIFT    BITMAP                  "icon/PageUpperShift.bmp"
IDBMQ_PAGEUPPERSHIFT    BITMAP                  "icon/PageUpperShift_q.bmp"
IDBMP_LAYERINSERT       BITMAP                  "icon/LayerInsert.bmp"
IDBMQ_LAYERINSERT       BITMAP                  "icon/LayerInsert_q.bmp"
IDBMP_LAAYEROVERWRITE   BITMAP                  "icon/LaayerOverWrite.bmp"
IDBMQ_LAAYEROVERWRITE   BITMAP                  "icon/LaayerOverWrite_q.bmp"
IDBMP_LAYERTEXTEDIT     BITMAP                  "icon/LayerTextEdit.bmp"
IDBMQ_LAYERTEXTEDIT     BITMAP                  "icon/LayerTextEdit_q.bmp"
IDBMP_FRAME_INSERT      BITMAP                  "icon/Frame.bmp"
IDBMQ_FRAME_INSERT      BITMAP                  "icon/Frame_q.bmp"
IDBMP_FRMINS_INSERT     BITMAP                  "icon/BoxInsert.bmp"
IDBMQ_FRMINS_INSERT     BITMAP                  "icon/BoxInsert_q.bmp"
IDBMP_FRMINS_PADD       BITMAP                  "icon/FramePadding.bmp"
IDBMQ_FRMINS_PADD       BITMAP                  "icon/FramePadding_q.bmp"
IDBMP_BRUSH_MODE        BITMAP                  "icon/BrushMode.bmp"
IDBMQ_BRUSH_MODE        BITMAP                  "icon/BrushMode_q.bmp"
