IDD_COLOUR_TAG_DLG DIALOGEX 0, 0, 174, 82
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "단색 태그 입력"
FONT 8, "돋움", 0, 0, 0x0
BEGIN
    GROUPBOX        "색상 선택",IDC_STATIC,6,6,162,48
    CTEXT           "메인 컬러",IDC_STATIC,12,20,44,8,SS_CENTERIMAGE
    EDITTEXT        IDE_COLOUR_TAG_MAIN,62,18,94,12,ES_AUTOHSCROLL | WS_TABSTOP
    CTEXT           "섀도우",IDC_STATIC,12,36,44,8,SS_CENTERIMAGE
    EDITTEXT        IDE_COLOUR_TAG_SHADOW,62,34,94,12,ES_AUTOHSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "넣기",IDB_OK,78,62,42,14
    PUSHBUTTON      "취소",IDB_CANCEL,126,62,42,14
END

IDD_GRADIENT_TAG_DLG DIALOGEX 0, 0, 232, 118
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "그라데이션 태그 입력"
FONT 8, "돋움", 0, 0, 0x0
BEGIN
    GROUPBOX        "시작 색상",IDC_STATIC,6,6,124,48
    CTEXT           "메인 컬러",IDC_STATIC,12,20,44,8,SS_CENTERIMAGE
    EDITTEXT        IDE_GRADIENT_GSTART_MAIN,62,18,58,12,ES_AUTOHSCROLL | WS_TABSTOP
    CTEXT           "섀도 컬러",IDC_STATIC,12,36,44,8,SS_CENTERIMAGE
    EDITTEXT        IDE_GRADIENT_GSTART_SHADOW,62,34,58,12,ES_AUTOHSCROLL | WS_TABSTOP
    GROUPBOX        "종료 색상",IDC_STATIC,6,60,124,48
    CTEXT           "메인 컬러",IDC_STATIC,12,74,44,8,SS_CENTERIMAGE
    EDITTEXT        IDE_GRADIENT_GEND_MAIN,62,72,58,12,ES_AUTOHSCROLL | WS_TABSTOP
    CTEXT           "섀도 컬러",IDC_STATIC,12,90,44,8,SS_CENTERIMAGE
    EDITTEXT        IDE_GRADIENT_GEND_SHADOW,62,88,58,12,ES_AUTOHSCROLL | WS_TABSTOP
    GROUPBOX        "범위",IDC_STATIC,138,6,88,48
    CTEXT           "시작 줄",IDC_STATIC,146,20,32,8,SS_CENTERIMAGE
    EDITTEXT        IDE_GRADIENT_GSTART_LINE,184,18,34,12,ES_AUTOHSCROLL | ES_NUMBER | WS_TABSTOP
    CTEXT           "종료 줄",IDC_STATIC,146,36,32,8,SS_CENTERIMAGE
    EDITTEXT        IDE_GRADIENT_GEND_LINE,184,34,34,12,ES_AUTOHSCROLL | ES_NUMBER | WS_TABSTOP
    DEFPUSHBUTTON   "넣기",IDB_OK,138,92,42,14
    PUSHBUTTON      "취소",IDB_CANCEL,182,92,42,14
END
