IDC_PGLVPOPUPMENU MENU
BEGIN
    POPUP "페이지 목록 설정"
    BEGIN
        MENUITEM ORR_UI_MENU_PAGEL_AATIP_TOGGLE,      IDM_PAGEL_AATIP_TOGGLE
        MENUITEM ORR_UI_LABEL_PAGEL_RETURN_FOCUS,     IDM_PAGEL_RETURN_FOCUS
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_MENU_PAGEL_ADD,               IDM_PAGEL_ADD
        MENUITEM ORR_UI_MENU_PAGEL_INSERT,            IDM_PAGEL_INSERT
        MENUITEM ORR_UI_MENU_PAGEL_DUPLICATE,         IDM_PAGEL_DUPLICATE
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_MENU_PAGEL_DELETE,            IDM_PAGEL_DELETE
        MENUITEM ORR_UI_MENU_PAGEL_UPFLOW,            IDM_PAGEL_UPFLOW
        MENUITEM ORR_UI_MENU_PAGEL_DOWNSINK,          IDM_PAGEL_DOWNSINK
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_MENU_PAGEL_RENAME,            IDM_PAGEL_RENAME
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_MENU_TOPMOST_TOGGLE,          IDM_TOPMOST_TOGGLE
    END
END

IDD_PAGE_NAME_DLG DIALOGEX 0, 0, 167, 54
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "이름 입력"
FONT 8, "돋움", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,72,36,42,12
    PUSHBUTTON      "취소",IDCANCEL,120,36,42,12
    LTEXT           "이름을 입력해주세요",IDC_STATIC,6,6,156,8
    EDITTEXT        IDE_PAGENAME,6,18,156,12,ES_AUTOHSCROLL
END

IDD_MSGCHECKBOX_DLG DIALOGEX 0, 0, 210, 71
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "조작 확인"
FONT 8, "돋움", 0, 0, 0x0
BEGIN
    ICON            32516,IDC_ICON_BOX,6,6,20,20
    DEFPUSHBUTTON   "실행한다",IDYES,42,48,48,14
    PUSHBUTTON      "그만둔다",IDNO,120,48,48,14
    LTEXT           "",IDS_MC_MSG1,36,6,168,8
    LTEXT           "",IDS_MC_MSG2,36,18,168,8
    CONTROL         "다시 보지 않기",IDCB_MC_CHECKBOX,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,36,30,168,8
END
