IDD_GENERAL_OPTION_DLG DIALOGEX 0, 0, 344, 210
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "환경설정"
FONT 9, "돋움", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,201,188,42,14
    PUSHBUTTON      "취소",IDCANCEL,249,188,42,14
    PUSHBUTTON      "적용",IDB_APPLY,297,188,40,14
    GROUPBOX        "일반 설정",IDC_STATIC,6,6,208,96
    CONTROL         "도트 조정할 때 유니코드 공백 사용하기",IDCB_USE_UNISPACE_SET,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,20,188,12
    CONTROL         "한글을 유니코드 문자로 색칠하지 않기",IDCB_NOSJIS_SKIP_HANGUL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,36,188,12
    CONTROL         "파일 저장 시 알림 표시하기",IDCB_SAVE_MSG_ON,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,52,188,12
    CONTROL         "프로그램을 동시에 여러 개 실행할 수 있게 하기 (비추천)",IDCB_MULTIACT_ENA,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,68,188,12
    CONTROL         "팔레트 창을 메인 화면에 통합하기 (재시작 필요)",IDCB_DOCKING_STYLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,84,188,12
    GROUPBOX        "그리드 크기 설정",IDC_STATIC,222,6,114,38
    CTEXT           "X",IDC_STATIC,232,23,8,12,SS_CENTERIMAGE
    EDITTEXT        IDE_GRID_X_POS,244,22,28,12,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
    CTEXT           "Y",IDC_STATIC,284,23,8,12,SS_CENTERIMAGE
    EDITTEXT        IDE_GRID_Y_POS,294,22,28,12,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
    GROUPBOX        "가이드 위치 설정",IDC_STATIC,222,50,114,52
    LTEXT           "우측 가이드",IDC_STATIC,232,67,50,8
    EDITTEXT        IDE_RIGHT_RULER_POS,288,65,34,12,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "하단 가이드",IDC_STATIC,232,83,50,8
    EDITTEXT        IDE_UNDER_RULER_POS,288,81,34,12,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
    GROUPBOX        "자동 저장 간격 (분) ※0=끄기",IDC_STATIC,6,108,150,40
    EDITTEXT        IDE_AUTO_BU_INTVL,14,123,30,12,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "백업 완료 메시지 표시",IDCB_AUTOBU_MSG_ON,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,52,120,92,18
    GROUPBOX        "시작할 때 전에 작업하던 파일",IDC_STATIC,164,108,172,40
    CONTROL         "열기",IDRB_LASTOPEN_DO,"Button",BS_AUTORADIOBUTTON | WS_GROUP,172,124,28,10
    CONTROL         "열지 않기",IDRB_LASTOPEN_NON,"Button",BS_AUTORADIOBUTTON,210,124,42,10
    CONTROL         "물어보기",IDRB_LASTOPEN_ASK,"Button",BS_AUTORADIOBUTTON,262,124,38,10
    GROUPBOX        "레이어 박스 투명도",IDC_STATIC,6,154,330,28
    CONTROL         "",IDSL_LAYERBOX_TRANCED,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,36,165,260,12
    CTEXT           "투명",IDC_STATIC,12,164,18,12,SS_CENTERIMAGE
    CTEXT           "불투명",IDC_STATIC,302,164,22,12,SS_CENTERIMAGE
END

IDD_CONTEXT_ITEM_DLG DIALOGEX 0, 0, 275, 251
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "우클릭 메뉴 편집"
FONT 8, "돋움", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,138,234,48,12
    PUSHBUTTON      "취소",IDCANCEL,198,234,48,12
    CONTROL         "",IDLV_MENU_ALLITEM,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,6,18,102,210
    PUSHBUTTON      "→",IDB_MENUITEM_ADD,114,96,24,12
    PUSHBUTTON      "←",IDB_MENUITEM_DEL,114,126,24,12
    CONTROL         "",IDLV_MENU_BUILDX,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,144,18,102,210
    PUSHBUTTON      "↑",IDB_MENUITEM_SPINUP,252,96,18,18
    PUSHBUTTON      "↓",IDB_MENUITEM_SPINDOWN,252,120,18,18
    LTEXT           "전체 목록",IDC_STATIC,6,6,54,8
    LTEXT           "현재 설정",IDC_STATIC,144,6,66,8
END

IDD_ACCEL_KEY_DLG DIALOGEX 0, 0, 294, 144
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "단축키 설정"
FONT 8, "돋움", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,186,126,48,12
    PUSHBUTTON      "취소",IDCANCEL,240,126,48,12
    CONTROL         "",IDLV_FUNCKEY_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | LVS_NOSORTHEADER | WS_BORDER | WS_VSCROLL | WS_TABSTOP,0,0,180,144
    LTEXT           "단축키",IDC_STATIC,186,24,102,8
    CONTROL         "",IDHKC_FUNCKEY_INPUT,"Edit",ES_AUTOHSCROLL | ES_READONLY | WS_BORDER | WS_TABSTOP,186,36,102,12
    PUSHBUTTON      "설정하기",IDB_FUNCKEY_SET,186,54,54,12
    PUSHBUTTON      "지우기",IDB_FUNCKEY_CLEAR,258,54,30,12
    LTEXT           "원하는 키 조합을 직접 누르세요.",IDC_STATIC,186,76,102,18
    PUSHBUTTON      "초기화",IDB_FUNCKEY_INIT,240,6,48,12
END

IDD_COLOUR_DLG DIALOGEX 0, 0, 162, 119
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "색상 설정"
FONT 8, "돋움", 0, 0, 0x0
BEGIN
    PUSHBUTTON      "글자색",IDB_COLOUR_BASIC_PEN,6,6,72,12
    PUSHBUTTON      "배경색",IDB_COLOUR_BASIC_BACK,84,6,72,12
    PUSHBUTTON      "그리드",IDB_COLOUR_GRID_LINE,6,24,72,12
    PUSHBUTTON      "엔터키",IDB_COLOUR_CRLF_MARK,84,24,72,12
    PUSHBUTTON      "유니코드 문자",IDB_COLOUR_CANT_SJIS,6,42,72,12
    CONTROL         "",IDS_COLOUR_IMAGE,"Static",SS_OWNERDRAW | SS_NOPREFIX | SS_NOTIFY | WS_BORDER,6,60,150,36,WS_EX_CLIENTEDGE
    DEFPUSHBUTTON   "OK",IDOK,66,102,42,12
    PUSHBUTTON      "취소",IDCANCEL,114,102,42,12
END
