IDC_SUNDAY MENU
BEGIN
    POPUP "파일(&F)"
    BEGIN
        MENUITEM ORR_UI_LABEL_NEWFILE,                IDM_NEWFILE
        MENUITEM ORR_UI_LABEL_OPEN,                   IDM_OPEN
        MENUITEM ORR_UI_LABEL_OPEN_HISTORY,           IDM_OPEN_HISTORY
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_OVERWRITESAVE,          IDM_OVERWRITESAVE
        MENUITEM ORR_UI_LABEL_RENAMESAVE,             IDM_RENAMESAVE
        MENUITEM ORR_UI_LABEL_IMAGE_SAVE,             IDM_IMAGE_SAVE
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_FILE_CLOSE,             IDM_FILE_CLOSE
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_GENERAL_OPTION,         IDM_GENERAL_OPTION
        MENUITEM ORR_UI_LABEL_MENUEDIT_DLG_OPEN,      IDM_MENUEDIT_DLG_OPEN
        MENUITEM ORR_UI_LABEL_COLOUR_EDIT_OPEN,       IDM_COLOUR_EDIT_OPEN
        MENUITEM ORR_UI_LABEL_ACCELKEY_EDIT_DLG_OPEN, IDM_ACCELKEY_EDIT_DLG_OPEN
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_ABOUT,                  IDM_ABOUT
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_EXIT,                   IDM_EXIT
    END
    POPUP "편집(&E)"
    BEGIN
        MENUITEM ORR_UI_LABEL_UNDO,                   IDM_UNDO
        MENUITEM ORR_UI_LABEL_REDO,                   IDM_REDO
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_CUT,                    IDM_CUT
        MENUITEM ORR_UI_LABEL_COPY,                   IDM_COPY
        MENUITEM ORR_UI_LABEL_PASTE,                  IDM_PASTE
        MENUITEM ORR_UI_LABEL_DELETE,                 IDM_DELETE
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_SJISCOPY_ALL,           IDM_SJISCOPY_ALL
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_ALLSEL,                 IDM_ALLSEL
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_SQSELECT,               IDM_SQSELECT
        MENUITEM ORR_UI_LABEL_SQUARE_PASTE,           IDM_SQUARE_PASTE
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_LAYERBOX,               IDM_LAYERBOX
        MENUITEM ORR_UI_LABEL_EXTRACTION_MODE,        IDM_EXTRACTION_MODE
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_FIND_DLG_OPEN,          IDM_FIND_DLG_OPEN
        MENUITEM ORR_UI_LABEL_FIND_HIGHLIGHT_OFF,     IDM_FIND_HIGHLIGHT_OFF
    END
    POPUP "삽입(&I)"
    BEGIN
        POPUP ORR_UI_LABEL_MN_UNISPACE
        BEGIN
            MENUITEM ORR_UI_LABEL_IN_01SPACE,         IDM_IN_01SPACE
            MENUITEM ORR_UI_LABEL_IN_02SPACE,         IDM_IN_02SPACE
            MENUITEM ORR_UI_LABEL_IN_03SPACE,         IDM_IN_03SPACE
            MENUITEM ORR_UI_LABEL_IN_04SPACE,         IDM_IN_04SPACE
            MENUITEM ORR_UI_LABEL_IN_05SPACE,         IDM_IN_05SPACE
            MENUITEM ORR_UI_LABEL_IN_08SPACE,         IDM_IN_08SPACE
            MENUITEM ORR_UI_LABEL_IN_10SPACE,         IDM_IN_10SPACE
            MENUITEM ORR_UI_LABEL_IN_16SPACE,         IDM_IN_16SPACE
        END
        POPUP ORR_UI_LABEL_MN_COLOUR_SEL
        BEGIN
            MENUITEM ORR_UI_LABEL_INSTAG_SPO,         IDM_INSTAG_SPO
            MENUITEM ORR_UI_LABEL_INSTAG_COLOUR,      IDM_INSTAG_COLOUR
            MENUITEM ORR_UI_LABEL_INSTAG_GRADIENT,    IDM_INSTAG_GRADIENT
        END
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_FRMINSBOX_OPEN,         IDM_FRMINSBOX_OPEN
        MENUITEM ORR_UI_LABEL_MN_INSFRAME_SEL,        IDM_MN_INSFRAME_SEL
        MENUITEM ORR_UI_LABEL_INSFRAME_EDIT,          IDM_INSFRAME_EDIT
        MENUITEM ORR_UI_LABEL_MN_USER_REFS,           IDM_MN_USER_REFS
    END
    POPUP "변형(&P)"
    BEGIN
        MENUITEM ORR_UI_LABEL_RIGHT_GUIDE_SET,        IDM_RIGHT_GUIDE_SET
        MENUITEM ORR_UI_LABEL_INS_TOPSPACE,           IDM_INS_TOPSPACE
        MENUITEM ORR_UI_LABEL_DEL_TOPSPACE,           IDM_DEL_TOPSPACE
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_DEL_LASTSPACE,          IDM_DEL_LASTSPACE
        MENUITEM ORR_UI_LABEL_DEL_LASTLETTER,         IDM_DEL_LASTLETTER
        MENUITEM ORR_UI_LABEL_FILL_SPACE,             IDM_FILL_SPACE
        MENUITEM ORR_UI_LABEL_FILL_ZENSP,             IDM_FILL_ZENSP
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_HEADHALF_EXCHANGE,      IDM_HEADHALF_EXCHANGE
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_MIRROR_INVERSE,         IDM_MIRROR_INVERSE
        MENUITEM ORR_UI_LABEL_UPSET_INVERSE,          IDM_UPSET_INVERSE
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_INCREMENT_DOT,          IDM_INCREMENT_DOT
        MENUITEM ORR_UI_LABEL_DECREMENT_DOT,          IDM_DECREMENT_DOT
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_INCR_DOT_LINES,         IDM_INCR_DOT_LINES
        MENUITEM ORR_UI_LABEL_DECR_DOT_LINES,         IDM_DECR_DOT_LINES
        MENUITEM ORR_UI_LABEL_DOT_SPLIT_LEFT,         IDM_DOT_SPLIT_LEFT
        MENUITEM ORR_UI_LABEL_DOT_SPLIT_RIGHT,        IDM_DOT_SPLIT_RIGHT
        MENUITEM SEPARATOR
        POPUP "도트 조정"
        BEGIN
            MENUITEM ORR_UI_LABEL_DOTDIFF_LOCK,       IDM_DOTDIFF_LOCK
            MENUITEM ORR_UI_LABEL_DOTDIFF_ADJT,       IDM_DOTDIFF_ADJT
        END
    END
    POPUP "표시(&N)"
    BEGIN
        MENUITEM ORR_UI_LABEL_SPACE_VIEW_TOGGLE,      IDM_SPACE_VIEW_TOGGLE
        MENUITEM ORR_UI_LABEL_GRID_VIEW_TOGGLE,       IDM_GRID_VIEW_TOGGLE
        MENUITEM ORR_UI_LABEL_RIGHT_RULER_TOGGLE,     IDM_RIGHT_RULER_TOGGLE
        MENUITEM ORR_UI_LABEL_UNDER_RULER_TOGGLE,     IDM_UNDER_RULER_TOGGLE
        MENUITEM SEPARATOR
        MENUITEM ORR_UI_LABEL_PAGELIST_VIEW,          IDM_PAGELIST_VIEW
        MENUITEM ORR_UI_LABEL_INSERT_PALETTE,         IDM_INSERT_PALETTE
        MENUITEM ORR_UI_LABEL_BRUSH_PALETTE,          IDM_BRUSH_PALETTE
        MENUITEM ORR_UI_LABEL_TRACE_MODE_ON,          IDM_TRACE_MODE_ON
        MENUITEM ORR_UI_LABEL_ON_PREVIEW,             IDM_ON_PREVIEW
    END
END

IDM_MULTIFILE_POPUP MENU
BEGIN
    POPUP "복수 파일 탭"
    BEGIN
        MENUITEM "저장하기",                        IDM_OVERWRITESAVE
        MENUITEM "다른 이름으로 저장하기",          IDM_RENAMESAVE
        MENUITEM SEPARATOR
        MENUITEM "파일 닫기",                       IDM_FILE_CLOSE
    END
END

IDC_SUNDAY ACCELERATORS
BEGIN
    "A",            IDM_ALLSEL,             VIRTKEY, CONTROL, NOINVERT
    "B",            IDM_ON_PREVIEW,         VIRTKEY, CONTROL, NOINVERT
    "C",            IDM_COPY,               VIRTKEY, CONTROL, NOINVERT
    "X",            IDM_CUT,                VIRTKEY, CONTROL, NOINVERT
    VK_LEFT,        IDM_DECR_DOT_LINES,     VIRTKEY, SHIFT, ALT, NOINVERT
    VK_LEFT,        IDM_DECREMENT_DOT,      VIRTKEY, ALT, NOINVERT
    "G",            IDM_DEL_LASTLETTER,     VIRTKEY, SHIFT, CONTROL, NOINVERT
    "G",            IDM_DEL_LASTSPACE,      VIRTKEY, CONTROL, NOINVERT
    "U",            IDM_DEL_TOPSPACE,       VIRTKEY, CONTROL, NOINVERT
    "E",            IDM_DOTDIFF_ADJT,       VIRTKEY, CONTROL, ALT, NOINVERT
    "W",            IDM_DOTDIFF_LOCK,       VIRTKEY, CONTROL, ALT, NOINVERT
    VK_F4,          IDM_FILE_CLOSE,         VIRTKEY, CONTROL, NOINVERT
    VK_NEXT,        IDM_FILE_NEXT,          VIRTKEY, CONTROL, NOINVERT
    VK_PRIOR,       IDM_FILE_PREV,          VIRTKEY, CONTROL, NOINVERT
    "G",            IDM_FILL_SPACE,         VIRTKEY, CONTROL, ALT, NOINVERT
    "F",            IDM_FIND_DLG_OPEN,      VIRTKEY, CONTROL, NOINVERT
    VK_F3,          IDM_FIND_JUMP_NEXT,     VIRTKEY, NOINVERT
    VK_F3,          IDM_FIND_JUMP_PREV,     VIRTKEY, SHIFT, NOINVERT
    VK_F3,          IDM_FIND_TARGET_SET,    VIRTKEY, CONTROL, NOINVERT
    "W",            IDM_FRMINSBOX_OPEN,     VIRTKEY, CONTROL, NOINVERT
    VK_RIGHT,       IDM_INCR_DOT_LINES,     VIRTKEY, SHIFT, ALT, NOINVERT
    VK_RIGHT,       IDM_INCREMENT_DOT,      VIRTKEY, ALT, NOINVERT
    "I",            IDM_INS_TOPSPACE,       VIRTKEY, CONTROL, NOINVERT
    VK_SPACE,       IDM_LAYERBOX,           VIRTKEY, ALT, NOINVERT
    "N",            IDM_NEWFILE,            VIRTKEY, CONTROL, NOINVERT
    VK_F5,          IDM_NOW_PAGE_REFRESH,   VIRTKEY, NOINVERT
    "B",            IDM_ON_PREVIEW,         VIRTKEY, CONTROL, NOINVERT
    "O",            IDM_OPEN,               VIRTKEY, CONTROL, NOINVERT
    "S",            IDM_OVERWRITESAVE,      VIRTKEY, CONTROL, NOINVERT
    VK_DOWN,        IDM_PAGE_NEXT,          VIRTKEY, ALT, NOINVERT
    VK_UP,          IDM_PAGE_PREV,          VIRTKEY, ALT, NOINVERT
    "I",            IDM_PAGEL_ADD,          VIRTKEY, SHIFT, ALT, NOINVERT
    "D",            IDM_PAGEL_DELETE,       VIRTKEY, ALT, NOINVERT
    "J",            IDM_PAGEL_DOWNSINK,     VIRTKEY, ALT, NOINVERT
    "C",            IDM_PAGEL_DUPLICATE,    VIRTKEY, ALT, NOINVERT
    "I",            IDM_PAGEL_INSERT,       VIRTKEY, ALT, NOINVERT
    "N",            IDM_PAGEL_RENAME,       VIRTKEY, ALT, NOINVERT
    "U",            IDM_PAGEL_UPFLOW,       VIRTKEY, ALT, NOINVERT
    "V",            IDM_PASTE,              VIRTKEY, CONTROL, NOINVERT
    "Z",            IDM_REDO,               VIRTKEY, SHIFT, CONTROL, NOINVERT
    "S",            IDM_RENAMESAVE,         VIRTKEY, CONTROL, ALT, NOINVERT
    "R",            IDM_RIGHT_GUIDE_SET,    VIRTKEY, CONTROL, ALT, NOINVERT
    "C",            IDM_SJISCOPY_ALL,       VIRTKEY, SHIFT, CONTROL, NOINVERT
    "W",            IDM_SPACE_VIEW_TOGGLE,  VIRTKEY, SHIFT, CONTROL, NOINVERT
    "B",            IDM_SQSELECT,           VIRTKEY, CONTROL, ALT, NOINVERT
    VK_LEFT,        IDM_TMPL_GRID_DECREASE, VIRTKEY, CONTROL, NOINVERT
    VK_RIGHT,       IDM_TMPL_GRID_INCREASE, VIRTKEY, CONTROL, NOINVERT
    VK_DOWN,        IDM_TMPLT_GROUP_NEXT,   VIRTKEY, CONTROL, NOINVERT
    VK_UP,          IDM_TMPLT_GROUP_PREV,   VIRTKEY, CONTROL, NOINVERT
    "H",            IDM_TRC_VIEWTOGGLE,     VIRTKEY, ALT, NOINVERT
    "Z",            IDM_UNDO,               VIRTKEY, CONTROL, NOINVERT
    VK_TAB,         IDM_WINDOW_CHANGE,      VIRTKEY, CONTROL, NOINVERT
    VK_TAB,         IDM_WINDOW_CHG_RVRS,    VIRTKEY, SHIFT, CONTROL, NOINVERT
END

IDD_ABOUTBOX DIALOGEX 0, 0, 215, 196
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "버전 정보 - SUNDAY Maker"
FONT 8, "돋움", 0, 0, 0x0
BEGIN
    ICON            IDI_SUNDAY,IDC_MYICON,10,10,18,21
    LTEXT           "SUNDAY Maker, Version 2026.04.121",IDC_STATIC,36,6,168,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2026 Daleth",IDC_STATIC,36,18,168,8
    LTEXT           "Site : https://github.com/Da1eth",IDC_STATIC,36,30,168,8
    DEFPUSHBUTTON   "OK",IDOK,84,180,48,12,WS_GROUP
    EDITTEXT        IDE_ABOUT_DISP,6,42,204,132,ES_MULTILINE | ES_READONLY | NOT WS_BORDER,WS_EX_STATICEDGE
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2026,04,121,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041204b0"
        BEGIN
            VALUE "Comments", "Korean Transtale Ver, Perfectly No Warranty"
            VALUE "FileDescription", "Everyday Sunday!"
            VALUE "InternalName", "Sunday"
            VALUE "LegalCopyright", "Copyright (C) 2026 Daleth"
            VALUE "LegalTrademarks", "License : GPLv3"
            VALUE "ProductName", "SUNDAY Maker"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x412, 1200
    END
END

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "SUNDAY Maker"
    IDC_SUNDAY             "SUNDAY"
END
