IDD_TRACEADJUST_DLG2 DIALOGEX 0, 0, 155, 293
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "트레이싱 모드"
FONT 8, "돋움", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "짤",IDB_TRC_IMAGEOPEN,6,6,30,31
    GROUPBOX        "Ｘ좌표",IDC_STATIC,42,6,107,31
    SCROLLBAR       IDSL_TRC_HRIZ_POS,48,19,71,11
    EDITTEXT        IDE_TRC_HRIZ_VALUE,121,19,25,12,ES_CENTER | ES_AUTOHSCROLL
    GROUPBOX        "Ｙ좌표",IDC_STATIC,6,43,30,114
    SCROLLBAR       IDSL_TRC_VART_POS,14,55,11,78,SBS_VERT
    EDITTEXT        IDE_TRC_VART_VALUE,8,141,26,12,ES_CENTER | ES_AUTOHSCROLL
    GROUPBOX        "글자색",IDC_STATIC,6,163,30,36
    CONTROL         "",IDPL_TRC_MOZICOLOUR,"Static",SS_BLACKFRAME | SS_NOTIFY | SS_SUNKEN,12,175,18,18
    CONTROL         "상하\n반전",IDCB_TRC_IMG_UPSET,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,6,205,28,20
    CONTROL         "좌우\n반전",IDCB_TRC_IMG_MIRROR,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,6,227,28,20
    GROUPBOX        "대비",IDC_STATIC,42,43,107,44
    SCROLLBAR       IDSL_TRC_CONTRAST,48,56,95,11
    LTEXT           "-255",IDC_STATIC,48,69,18,12,SS_CENTERIMAGE
    LTEXT           "255",IDC_STATIC,131,69,14,12,SS_CENTERIMAGE
    EDITTEXT        IDE_TRC_CONTRAST_VALUE,78,69,30,12,ES_CENTER | ES_AUTOHSCROLL
    GROUPBOX        "감마",IDC_STATIC,42,93,107,44
    SCROLLBAR       IDSL_TRC_GAMMA,48,106,95,11
    LTEXT           "0",IDC_STATIC,48,119,8,12,SS_CENTERIMAGE
    LTEXT           "3.0",IDC_STATIC,133,119,14,12,SS_CENTERIMAGE
    EDITTEXT        IDE_TRC_GAMMA_VALUE,78,119,30,12,ES_CENTER | ES_AUTOHSCROLL
    GROUPBOX        "채도",IDC_STATIC,42,143,107,44
    SCROLLBAR       IDSL_TRC_GRAYMOPH,48,156,95,11
    LTEXT           "0",IDC_STATIC,48,169,8,12,SS_CENTERIMAGE
    LTEXT           "255",IDC_STATIC,131,169,14,12,SS_CENTERIMAGE
    EDITTEXT        IDE_TRC_GRAYMOPH_VALUE,78,169,30,12,ES_CENTER | ES_AUTOHSCROLL
    GROUPBOX        "확대/축소",IDC_STATIC,42,193,107,44
    SCROLLBAR       IDSL_TRC_ZOOM,48,206,95,11
    LTEXT           "(-)",IDC_STATIC,48,219,10,12,SS_CENTERIMAGE
    LTEXT           "(+)",IDC_STATIC,133,219,10,12,SS_CENTERIMAGE
    EDITTEXT        IDE_TRC_ZOOM_VALUE,78,219,30,12,ES_CENTER | ES_AUTOHSCROLL
    GROUPBOX        "회전",IDC_STATIC,42,243,107,44
    SCROLLBAR       IDSL_TRC_TURN,48,256,95,11
    LTEXT           "0",IDC_STATIC,48,269,8,12,SS_CENTERIMAGE
    LTEXT           "359",IDC_STATIC,131,269,14,12,SS_CENTERIMAGE
    EDITTEXT        IDE_TRC_TURN_VALUE,78,269,30,12,ES_CENTER | ES_AUTOHSCROLL
    PUSHBUTTON      "숨기기",IDB_TRC_VIEWTOGGLE,6,253,30,16
    PUSHBUTTON      "리셋",IDB_TRC_RESET,6,271,30,16
END

IDD_IMAGE_OPEN_DLG DIALOGEX 0, 0, 321, 122
STYLE DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 8, "돋움", 0, 0, 0x0
BEGIN
    LTEXT           "",IDC_STATIC_STC32,0,0,192,120
    CONTROL         "섬네일 표시",IDCB_TRC_DLG_USETHUMB,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,198,6,78,10
    CONTROL         "",IDS_TRC_DLG_THUMBFRAME,"Static",SS_BLACKFRAME | WS_BORDER,198,24,114,96
END
